**/__pycache__
knowledge_base
logs
llm_models
embedding_models
jupyter_work
model_config.py
server_config.py
internal_start.py
code_base
.DS_Store
.idea
data
.pyc
tests
*egg-info
build
dist
package.sh
local_config.json