fschat==0.2.33
nltk~=3.8.1
uvicorn~=0.23.1
starlette~=0.27.0
# pydantic<=1.10.14
unstructured[all-docs]
pypdf
duckduckgo-search
pysocks
accelerate
websockets
fake_useragent
selenium
jsonref

# uncomment libs if you want to use corresponding vector store
# pymilvus==2.1.3 # requires milvus==2.1.3
# psycopg2
# pgvector

streamlit
streamlit_option_menu
streamlit-chatbox
streamlit-aggrid
# streamlit-antd-components>=0.1.11
httpx
tenacity<8.4.0

codefuse-muagent
# qwen model
# protobuf==3.20.*
# transformers_stream_generator
# einops
# auto-gptq
# optimum
# modelscope

# vllm model
# vllm; sys_platform == "linux"
